.box{
    width: 200px;
    height: 70px;
    border: 5px solid orangered;
    border-radius: 10px;
    transition: 0.5s ease;
    background-color: gray;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



